<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>

    <p>Charles Babbage (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de 1871) fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "El Padre de la computación". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.​</p>

    <img src="/img/Charles_Babbage.jpg" alt="Babbage">

    <h2>Seguir viendo...</h2>
    <a href="/turing"><img src="/img/220px-Alan_Turing_Aged_16.jpg" height=100 alt="Turing"></a>
    <a href="/lovelace"><img src="/img/Ada_Lovelace.jpg" height=100 alt="Lovelace"></a>
    <a href="/hamilton"><img src="/img/220px-Margaret_Hamilton.jpg" height=100 alt="hamilton"></a>
    <a href="/clarke"><img src="/img/Joan Clarke.jpg" height=100 alt="Clarke"></a>
    <a href="/berners-lee"><img src="/img/Sir_Tim_Berners-Lee.jpg" height=100 alt="Berners-Lee"></a>
    <a href="/hopper"><img src="/img/hopper.jpg" height=100 alt="Hopper"></a>

    <a href="/"><h2>Volver al Home</h2></a>

</body>
</html>