<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home DH Heroes</title>
</head>
<body>
    <h1>DH Heroes</h1>
    <h2>Este sitio esta dedicado a aquellos programador@s que hicieron historia</h2>
    <h3>Te invitamos a acceder y conocer una breve reseña de cada uno de ell@s</h3>

<h4>Charles Babbage</h4>
    <img src="/img/Charles_Babbage.jpg" height=200 alt="Babbage">
    <div><a href="/babbage">Conocé más...</a></div>

    <h4>Tim Berners-Lee</h4>
<img src="/img/Sir_Tim_Berners-Lee.jpg" height=200 alt="Berners-Lee">
    <div><a href="/berners-lee">Conocé más...</a></div>

    <h4>Margaret hamilton</h4>
<img src="/img/220px-Margaret_Hamilton.jpg" height=200 alt="hamilton">
    <div><a href="/hamilton">Conocé más...</a></div>

    <h4>Grace Murray Hopper</h4>
<img src="/img/hopper.jpg" height=200 alt="Hopper">
    <div><a href="/hopper">Conocé más...</a></div>

    <h4>Ada Lovelace</h4>
<img src="/img/Ada_Lovelace.jpg" height=250 alt="Lovelace">
    <div><a href="/lovelace">Conocé más...</a></div>

    <h4>Alan Turing</h4>
 <img src="/img/220px-Alan_Turing_Aged_16.jpg" height=200 alt="Turing">
    <div><a href="/turing">Conocé más...</a></div>

    <h4>Joan Clarke</h4>
    <img src="/img/Joan Clarke.jpg" height=200 alt="Clarke">
    <div><a href="/clarke">Conocé más...</a></div>
</body>
</html>